<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}BlogAdmin{% endblock title %}</title>
    <link href="/public/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/public/node_modules/boosted/dist/css/boosted.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/public/css/exemple.css" type="text/css">
</head>
<body>

{% include 'layout.admin.navigation.html.twig' %}

<main id="content" class="container">
    <div id="header" class="container">
        <div class="row">
            <div class="col-sm-6">
                <a href="#">
                    <img src="/public/img/blogger_logo.png" alt="Back to homepage" class="icon-logo">
                </a>
                <h1 style="margin: 0;" class="pl-3">{% block actionTitle %}{% endblock actionTitle %}</h1>
            </div>
        </div>
    </div>
    <div id="localContainer"></div>
    {% block content %}
    {% endblock content %}
</main>

{% include 'layout.footer.html.twig' %}

<!-- Bootstrap core JavaScript -->
<script src="/public/node_modules/jquery/dist/jquery.min.js"></script>
<script src="/public/node_modules/startbootstrap-clean-blog/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
