<!-- Navigation -->

<header role="banner">
    <nav class="navbar navbar-dark bg-dark navbar-expand-md">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="/public/img/blogger_logo.png" alt="Back to homepage" title="Back to homepage"></a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                    data-target="#orange-navbar-collapse" aria-controls="orange-navbar-collapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse justify-content-between collapse" id="orange-navbar-collapse"
                 aria-expanded="false">
                <ul class="navbar-nav" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/users" role="button">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link svg-settings" href="/admin/posts" role="button">Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link svg-settings" href="/admin/comments" role="button">Comments</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li role="presentation" class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle active" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                  <span class="svg-avatar" aria-hidden="true">
                  </span>hello
                            {# TODO STUB User authenticate #}
                            <span class="orange">Sébastien&nbsp;
                  </span> </a>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li>
                                <a class="dropdown-item" href="/login">login</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/logout">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
