<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 Not Found</title>
    <link rel="stylesheet" href="/public/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="/public/node_modules/startbootstrap-clean-blog/css/clean-blog.min.css" rel="stylesheet">
    <style>
        html {height: 100%}
        body {height: 100%}
        .container {height: 100%}
        .error-template {height: 100%}
    </style>
</head>
<body>
<div class="container">
    <div class="error-template d-flex flex-column justify-content-center align-items-center col-12 text-center">
        <h1>Oops!</h1>
        <h2>404 Not Found</h2>
        <div class="p-4">
            Sorry, an error has occurred, Requested page not found!
        </div>
        <div class="">
            <a href="/" class="btn btn-primary btn-lg">Take Me Home </a>
            <a href="/" class="btn btn-default btn-lg"> Contact Support </a>
        </div>
    </div>
</div>
</body>
</html>
