{% extends 'layouts.admin.html.twig' %}

{% block content %}
    <div class="row">
        <form id="changeUser" action="/changeUser?id={{ user.userID.value }}" method="post" novalidate>
            {% include '/management/formUser.html.twig' %}
            <div class="submit">
                <input type="submit" form="changeUser" class="btn btn-primary"
                       value="Mettre à jour le profil utilisateur">
            </div>
        </form>
    </div>
    <hr>
{% endblock content %}

{% block actionTitle %}Profil{% endblock actionTitle %}