{% extends 'layouts.admin.html.twig' %}

{% block content %}
    <div class="row">
        <form id="changeUser" action="/admin/changeUser?id={{ user.userID.value }}" method="post" novalidate>
            {% include '/management/formUser.html.twig' with {'context':'changeUser'} %}
            <div class="submit">
                <input type="submit" form="changeUser" class="btn btn-primary"
                       value="update profile">
            </div>
        </form>
    </div>
    <hr>
{% endblock content %}

{% block actionTitle %}Profil{% endblock actionTitle %}