{% extends "/layouts.html.twig" %}


{% block content %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/public/node_modules/startbootstrap-clean-blog/img/contact-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>Sébastien CHOMY</h1>
                        <span class="subheading">Développeur Web, sur les environnements PHP</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p>Vous voulez entrer en contact ? Remplissez le formulaire ci-dessous pour m'envoyer un message et je vous répondrai dans les plus brefs délais !</p>
                {% include '/contactUS/contactUs.html.twig' %}
            </div>
        </div>
    </div>

    <hr>
{%  endblock content %}