<form action="/index.php?action=newComment" novalidate method="post">
    <div>
        <label for="lastname">Lastname</label>
        <input type="text" name="lastname" id="lastname"/>
    </div>
    <div>
        <label for="firstname">firstname</label>
        <input type="text" name="firstname" id="firstname"/>
    </div>
    <div>
        <label for="email">Email</label>
        <input type="email" name="email" id="email"/>
    </div>
    <div>
        <label for="comment">Commentaire</label>
        <textarea name="comment" id="comment" cols="30" rows="10">
        </textarea>
    </div>
    <input type="hidden" name="postID" value="f52f7d1c-337d-4e9d-a470-e50a510b1d5e"/>
    <button type="submit">Valider</button>
</form>
